.contacts__tel {
    padding: 210px 0 0;
}

.contacts__title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}

.contacts__locations {
    margin-top: -40px;
    padding: 166px 0 167px;
    background-color: #e3e4da;
}

@media screen and (max-width: $breakpoint-small) {
    .contacts__tel {
        padding: 50px 0 0;
    }
    .contacts__title {
        font-size: 50px;
    }
}