.credit {
    padding: 25px 0 120px;
    background-image:
        url('../img/credit-bg.png'),
        linear-gradient(to right, #79c398 15%, #02abcd 100%);
    background-size: 
        cover,
        cover;
    position: relative;
    z-index: 2;
}

.credit__inner {
    display: flex;
}

.credit__title-container {
    width: 130px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 71px;
}

.credit__title {
    opacity: 0.75;
    color: #000000;
    font-size: 69px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    letter-spacing: -0.8px;
    span {
        letter-spacing: 7px;
    }
}

.credit__content {
    width: 548px;
    margin-right: 38px;
}

.credit__subtitle {
    margin-bottom: 19px;
    color: #ffffff;
    font-size: 30px;
}

.credit__desc {
    margin-bottom: 60px;
    color: #32635f;
    font-size: 15px;
    line-height: 1.2;
}

.credit__variants {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.credit__variant-item {
    margin-right: 7px;
    width: 178px;
    box-sizing: border-box;
    padding: 25px 5px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -1.7px;
    line-height: 1;
    white-space: nowrap;
    position: relative;
    &:last-of-type {
        margin-right: 0;
    }
    &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 2px solid rgba(34%, 74%, 65%, 0.75);
        border-radius: 2px;
    }
}

.credit__feedback-container {
    position: relative;
}

.credit__feedback {
    position: absolute;
    top: -55px;
    left: 0;  
}