.devs {
    display: flex;
    align-items: center;
    &:hover {
        text-decoration: none;
    }
}

.devs__logo {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

.devs__text {
    color: #979891;
    font-size: 16px;
    line-height: 1.2;
    span {
        color: #ffffff;
        letter-spacing: 0.56px;
    }
}