.filter {
    margin-top: 32px;
}

.filter__inner {
    display: flex;
    margin-bottom: 40px;
}

.filter__fieldset {
    display: flex;
    margin: 0 50px 0 0;
    padding: 0;
    border: none;
    &:last-child {
        margin: 0;
    }
}

.filter__legend {
    float: left;
    margin-right: 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1;
}

.filter__row {
    margin-bottom: 23px;
}

.filter__label {
    display: inline-block;
    padding-left: 50px;
    color: #a7a7a7;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgba(255, 255, 255, 0.33);
    }
}

.filter__input {
    display: none;
}

.filter__input:checked + .filter__label {
    color: #fff;
    &::after {
        content: '';
        width: 15px;
        height: 12px;
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath fill='%23add301' d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z'/%3E%3C/svg%3E ");
        background-size: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
}

.filter__btn {
    float: right;
    box-shadow: 1px 2px 10px rgba(28, 30, 17, 0.75);
    background-color: #add301;
    background-image: linear-gradient(to top, #abd002 0%, #bae107 100%);
    border: none;
    border-radius: 2px;
    padding: 13px 44px;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 0.25s;
    &:hover {
        box-shadow: 1px 2px 10px rgba(140, 150, 97, 0.75);
        background-image: linear-gradient(to top, #bae107 0%, #abd002 100%);
        transition: box-shadow 0.25s;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .filter__btn {
        float: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .filter__legend {
        float: none;
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .filter__inner {
        flex-direction: column;
    }
    .filter__fieldset {
        margin: 0 0 20px 0;
    }
}

