.header-nav__link-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav__link {
    display: block;
    width: 130px;
    margin-right: 6px;
    padding: 10px 0;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.25s;
    color: #ffffff;
    font-size: 15px;
    &:hover {
        text-decoration: none;
        color: #010101;
        background-color: rgba(255, 255, 255, 0.6);
        transition: background-color 0.25s;
    }
}