.kitchen {
    width: 1140px;
    background: #fff;
}

.kitchen__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 47px ;
    border-bottom: 1px solid #e7e7e7;
}

.kitchen__nav-prev,
.kitchen__nav-next {
    padding: 16px 0 12px;
    color: #1a1a1a;
    font-size: 15px;
    line-height: 1;
    background: none;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.kitchen__grid {
    display: grid;
    grid-template-columns: 416px auto;
    grid-gap: 48px;
    padding: 50px 47px 60px;
}

.kitchen__title {
    margin-bottom: 25px;
    color: #353535;
    font-size: 30px;
    line-height: 1;
}

.kitchen__price {
    margin-bottom: 26px;
    color: #353535;
    font-size: 22px;
    font-weight: 700;
}

.kitchen__table {
    margin-bottom: 50px;
    td {
        font-size: 13px;
        line-height: 1.3;
        &:first-child {
            color: #676767; 
        }
        &:last-child {
            color: #303030;
        }
    }
}

.kitchen__feedback {
    padding: 16px 50px 18px;
    box-shadow: 1px 2px 10px rgba(140, 150, 97, 0.75);
    background-color: #add301;
    background-image: linear-gradient(to top, #abd002 0%, #bae107 100%);
    transition: background-image 0.25s;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    line-height: 1;
    &:hover {
        background-image: linear-gradient(to top, #bae107 0%, #abd002 100%);
        transition: background-image 0.25s;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .kitchen__grid {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .kitchen {
        margin-top: 40px;
    }
    .kitchen__close-btn {
        svg {
            width: 30px;
            height: 30px;
        }
    }
    .kitchen__nav {
        padding: 0 20px;
    }
    .kitchen__grid {
        padding: 20px;
    }
}
