.to-top {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 3;
    padding: 13px 18px;
    background-color: #fff;
    border-radius: 2px;
    color: #979891;
    transition: color 0.25s;
    &:hover {
        text-decoration: none;
        color: #000;
        transition: color 0.25s;
    }
    &.sticky {
        position: absolute;
    }
}

.to-top__arrow {
    transform: translateY(-2px);
}

.to-top__text {
    font-size: 16px;
}

@media screen and (max-width: $breakpoint-small) {
    .to-top__text {
      display: none;
    }
}